@media screen and (max-width: 1200px) {
  .zmejaMobile,
  .mobile {
      display: inline-block;
  }

  .mobile{
    color: black;
    display: flex;
    margin: 100px 20px 0 20px
  }
  .introduction, .memesSlider, .game, .split, .alignCommentAdd, .commentsFormError, .achievementsMainBlock, .QnA_split{
    display: none;
  }

  .mobileContainer {
    display: flex;
    align-items: center; 
}
.zmejaMobile {
  width: 100px;
  height: 100px;
}

#introductionTextDivFrontPage{
  overflow: hidden;
}


.memes{
  width: 100px;
  height: 500px;
}

.pictureSliderVideo iframe {
  width: 300px;
  height: 315px;
  display: block;
  margin: 0 auto;
}

.pictureSliderVideo {
  width: 100%;
  float: center;

}
.pictureSliderVideo .text {
  width: 100%;
  float: center;
  margin: 10px;

}

.my_intro{
  margin: 10px;
}

.pictureSlider img {
  width: 300px;
  height: auto

}

#prev{
  left: 0;
}
#next{
  right: 0

}
.game_mobile{
  margin: 40px 0 40px 0;
  padding: 20px ;
}

.leaderBoardSpeedRun {
  width: 100%;

}


}



/*mobile end*/
@media screen and (min-width: 1200px) {
  .mobile, .zmejaMobile, .mobileContainer, .game_mobile{
    display:none
  }
  #addCommentZmejelov {
    padding-top: 15px;
    padding-left: 15px;
  }
/* introduction */
.introduction {
  color: black;
  display: flex;
  margin-right: 50px;
}

.introductionText {
  font-size: 30px;
  margin-top: 5%;
}

.zmeja {
  padding: 5%;
  padding-right: 2%;
}


.memes{
  width: 1000px;
  height: 1000px;
}

.pictureSlider img {
  width: 800px;
  height: 500px

}
.commentsForm {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

#addCommentZmejelov {
  border: none;
  resize: none;
  border-radius: 15px 15px;
  font-size: 25px;
}

.submitButtonClass {
  display: flex;
  justify-content: center;
  align-items: center;
}


.submitCommentButton {
  border: none;
  padding: 20px;
  border-radius: 10px 15px;
  cursor: pointer;
  color: black;
  font-size: 25PX;
  text-align: center;
  margin-left: 100px;
  text-decoration: none;

}


.alignCommentAdd {
  display: flex;
  justify-content: center;
}

.pictureSliderVideo iframe {
  width: 560px;
  height: 315px;
}

.pictureSliderVideo {
  overflow: hidden;
  margin: 0px 100px 0px 100px;
}

.pictureSliderVideo iframe {
  float: left;
  margin-right: 20px;
}

.pictureSliderVideo .text {
  overflow: hidden;
}
#about_proyect {
  margin: 50px;
}



#prev{
  left: 300;
}
#next{
  right: 300

}


.achievementsMainBlock {
  display: grid;
  text-align: center;

}.achievementsMainBlock {
  display: grid;
  text-align: center;

}

.leaderBoardSpeedRun {
  width: 40%;

}

}

#about_proyect {
  font-size: 30px;
}






/* BORDER */ 


.leaderBoardSpeedRun {
  padding: 20px;

}



.zmeja img {
  display: block;
}



.comments_DIV,
body {
  background-color: hsl(272, 7%, 47%);
  margin-top: 20px;
}

/*loading*/
#loader-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  display: inline-block;
  position: relative;
  animation: loader 2s infinite ease;
}

.loader img {
  width: 50%;
  height: 50%;
}



#fullBody {
  display: none;

}


@keyframes loader {
  0% {
    transform: rotate(0deg);
  }

  2.5% {
    transform: rotate(9deg);
  }

  5% {
    transform: rotate(18deg);
  }

  7.5% {
    transform: rotate(27deg);
  }

  10% {
    transform: rotate(36deg);
  }

  12.5% {
    transform: rotate(45deg);
  }

  15% {
    transform: rotate(54deg);
  }

  17.5% {
    transform: rotate(63deg);
  }

  20% {
    transform: rotate(72deg);
  }

  22.5% {
    transform: rotate(81deg);
  }

  25% {
    transform: rotate(90deg);
  }

  27.5% {
    transform: rotate(99deg);
  }

  30% {
    transform: rotate(108deg);
  }

  32.5% {
    transform: rotate(117deg);
  }

  35% {
    transform: rotate(126deg);
  }

  37.5% {
    transform: rotate(135deg);
  }

  40% {
    transform: rotate(144deg);
  }

  42.5% {
    transform: rotate(153deg);
  }

  45% {
    transform: rotate(162deg);
  }

  47.5% {
    transform: rotate(171deg);
  }

  50% {
    transform: rotate(180deg);
  }

  52.5% {
    transform: rotate(189deg);
  }

  55% {
    transform: rotate(198deg);
  }

  57.5% {
    transform: rotate(207deg);
  }

  60% {
    transform: rotate(216deg);
  }

  62.5% {
    transform: rotate(225deg);
  }

  65% {
    transform: rotate(234deg);
  }

  67.5% {
    transform: rotate(243deg);
  }

  70% {
    transform: rotate(252deg);
  }

  72.5% {
    transform: rotate(261deg);
  }

  75% {
    transform: rotate(270deg);
  }

  77.5% {
    transform: rotate(279deg);
  }

  80% {
    transform: rotate(288deg);
  }

  82.5% {
    transform: rotate(297deg);
  }

  85% {
    transform: rotate(306deg);
  }

  87.5% {
    transform: rotate(315deg);
  }

  90% {
    transform: rotate(324deg);
  }

  92.5% {
    transform: rotate(333deg);
  }

  95% {
    transform: rotate(342deg);
  }

  97.5% {
    transform: rotate(351deg);
  }

  100% {
    transform: rotate(360deg);
  }
}








/*main containers of the game*/
.game,
.achievementsMainBlock,
.QN_field {
  margin-top: 2%;
}

#loader-wrapper, .dropbtn, #addCommentZmejelov, .full_comment,
.commentsFormErrorText, .board, .game,  .game_mobile,
.achievementsMainBlock,
.QN_field {
  background-color: #2A282E;
}





/*Q&A*/
.QN_field {
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 30px;
  box-sizing: border-box;
  margin-bottom: 30px;
  width: 80%;
}

.QnA {
  display: center;
  text-align: center;

}

#split {
  display: flex;
  justify-content: space-between;

}

.QnA_split {
  width: 60%;
  padding: 20px;
}


.board {
  height: 850px;
  padding-top: 40px;
  border-radius: 10px;
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Ensure space between content and pagination */
}

.question_field {
  border-radius: 10px;
  padding: 20px;
}

.question_field_split {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  padding: 20px;
}

.answer-visible_split-div{
  font-weight: bold;
  font-size: 30px;
}

#time{
  text-align: center;
}

.answer-visible-div, .answer-visible_split-div{
  display: block;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 80%;
  margin-bottom: 30px;
  padding: 30px;
  margin-top: -30px;
  padding: 50px;
  background-color: hsl(244, 7%, 40%);
}

.answer-visible_split-div {
  font-weight: normal;
}

.question {
  color: #000;
  font-weight: bold;
  font-size: 30px;
  padding: 2%;
}

.button_field {
  float: right;
  margin-left: 25px;
}


.q_field{
  flex-grow: 1;
  text-align: center;
}

.dropbtn {
  color: black;
  padding: 10px 20px;
  font-size: 16px;
  border: 2px solid black;
  cursor: pointer;
  background-color: #211e24;
  border-radius: 2px;
}

.dropbtn:hover, .dropbtnProfile:hover {
  background-color: hsl(244, 7%, 40%);

}



/*achivements*/

.achievements {
  padding: 2%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* Center horizontally */
  align-items: center;
  /* Center vertically */

}

.ach_num {
  text-align: center;
  font-size: 40px;
}






.oneAchievements,
.achievementsNotLoggedIn {
  border: 2px solid black;
  display: relative;
  vertical-align: top;
  position: relative;
  padding: 2%;
  border-radius: 5px;
  margin-right: 2%;
  margin-bottom: 2%;
  background-color: hsl(244, 7%, 40%);
}




.achievementsNotLoggedIn {
  opacity: 0.4;

}

.tooltip {
  display: none;

}

.oneAchievements:hover .tooltip,
.achievementsNotLoggedIn:hover .tooltip {
  display: block;
  height: 200px;
  width: 400px;
}

.achievementsNotLoggedIn:hover .tooltip {
  height: 100px;
  width: 300px;
}


.oneAchievements img,
.achievementsNotLoggedIn img {
  width: auto;
  height: 100px;
  max-width: 100%;
}

/*comments*/
.commentsForm,
.commentsFormError {
  display: center;
  text-align: center;
}




.commentsFormError {
  margin-bottom: 50px;
  padding: 30px 0 30px 0;
}

.pagination-container {
  margin-top: auto;
}
.pagination_container_comments{
  margin: auto;
  text-align: center;
}
.pagination {
    display: inline-block;
    padding-bottom: 20px; 
}


.commentAuthor,
.commentText {
  display: inline-block;
  ;
}

.commentText {
  padding-left: 15px;
}



.commentsFormErrorText {
  padding: 50px;
}

.full_comment,
.commentsFormErrorText {
  width: 70%;
  justify-content: center;
  align-items: center;
  margin: auto;
  border-radius: 10px;
  padding: 10px;
}









/*INTRO */
.introductionDivFrontPage {
  color: black;
  display: flex;
  margin-right: 50px;
  margin-top: 10%;
}


#animationIntro {
  position: relative;
  animation-name: animationIntro;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}


@keyframes animationIntro {
  0% {
    left: 0.25%;
  }

  2.5% {
    left: 0.5%;
  }

  5% {
    left: 0.75%;
  }

  7.5% {
    left: 1%;
  }

  10% {
    left: 1.25%;
  }

  12.5% {
    left: 1.5%;
  }

  15% {
    left: 1.75%;
  }

  17.5% {
    left: 2%;
  }

  20% {
    left: 2.25%;
  }

  22.5% {
    left: 2.5%;
  }

  25% {
    left: 2.75%;
  }

  27.5% {
    left: 3%;
  }

  30% {
    left: 3.25%;
  }

  32.5% {
    left: 3.5%;
  }

  35% {
    left: 3.75%;
  }

  37.5% {
    left: 4%;
  }

  40% {
    left: 4.25%;
  }

  42.5% {
    left: 4.5%;
  }

  45% {
    left: 4.75%;
  }

  47.5% {
    left: 5%;
  }

  50% {
    left: 5.25%;
  }

  52.5% {
    left: 5.5%;
  }

  55% {
    left: 5.75%;
  }

  57.5% {
    left: 6%;
  }

  60% {
    left: 6.25%;
  }

  62.5% {
    left: 6.5%;
  }

  65% {
    left: 6.75%;
  }

  67.5% {
    left: 7%;
  }

  70% {
    left: 7.25%;
  }

  72.5% {
    left: 7.5%;
  }

  75% {
    left: 7.75%;
  }

  77.5% {
    left: 8%;
  }

  80% {
    left: 8.25%;
  }

  82.5% {
    left: 8.5%;
  }

  85% {
    left: 8.75%;
  }

  87.5% {
    left: 9%;
  }

  90% {
    left: 9.25%;
  }

  92.5% {
    left: 9.5%;
  }

  95% {
    left: 9.75%;
  }

  97.5% {
    left: 10%;
  }

  100% {
    left: 10.25%;
  }
}






#introductionTextDivFrontPage {
  margin-left: 15%;
  margin-right: 15%;

}


#textIntroAnimation {
  font-size: 25px;
}

#welcome {
  font-size: 30px;
}

#thisIsZmejelov {
  font-size: 45px;
  font-weight: bold;
}



#welcome,
#thisIsZmejelov {
  color: #761E85;
  text-align: center;
}




/**/
.leaderboard_buttons {
  display: center;
  text-align: center;
}

.leaderboard_button {
  margin-bottom: 20px;
  padding: 10px;
  border: none;

}




#options {
  list-style-type: circle;
  margin-left: 30px;
  padding-bottom: 10px;
  margin-top: -50px;
}



.fade {
  animation-name: fade;
  animation-duration: 4s;
}

@keyframes fade {
  from {
    opacity: .7
  }

  to {
    opacity: 1
  }
}




.pictureSlider img {
  max-width: 90%;
  display: block;
  /* Ensures the image is treated as a block element */
  margin: 0 auto;
  /* Centers the image horizontally */
}



#introduction_FrontPage {
  display: flex;
}




.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}



.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.show {
  display: block;
}









#zmejaIntro {
  scale: 1.5;

}


















.gameContainerError {
  display: center;
  text-align: center;

}










.speed_running_split {
  display: flex;
}



.speed_running_split .QnA {
  flex: 0 0 80%;
}

.speed_running_split {
  display: flex;
}


.game,
.achievementsMainBlock {
  padding: 2% 0% 5% 0%;
  margin: 0%;
}





/*p {
  animation: animated-text 4s steps(40,end) 1s 1 normal both,
             animated-cursor 600ms steps(40,end) infinite;
}

p: nth-child(2)
{
    white-space:nowrap;
    overflow:hidden;    
   animation: animated-text2 4s steps(29,end) 1s 1 normal both;
    -webkit-animation-delay: 5s; 
    animation-delay: 5s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

/* text animation */

/*@keyframes animated-text{
  from{width: 0;}
  to{width: 472px;}
}

@keyframes animated-text2{
  from{width: 0;}
  to{width: 472px;}
}

/* cursor animations */

/*@keyframes animated-cursor{
  from{border-right-color: rgba(0,255,0,.75);}
  to{border-right-color: transparent;}
}
*/

#enterTheWorld {
  border: none;
  margin: 1% auto;
  padding: 10px 20px 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 25PX;
  display: block;
  text-align: center;
  text-decoration: none;
}

#enterTheWorld a {
  color: rgb(121, 112, 112);
}

#inlineButtons {
  display: flex;
}

.button_language_intro {
  border: none;
  text-align: center;
  display: inline-block;
  font-size: 50px;
  border: none;
  background-color: hsl(272, 7%, 47%);
  ;
}


#memes {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

}

.slider-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 1;
  font-size: 24px;
  background-color: rgba(0, 0, 0, 0.5);


}






.QnA_full {
  display: center;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 100px;
}


.memesSlider {
  display: none;
}

.memesSlider img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


@media screen and (min-width: 3500px) {}