<rewrite>
  <rules>
    <rule name="Imported Rule 1" stopProcessing="true">
      <match url="(.*)" ignoreCase="false" />
      <conditions>
        <add input="{URL}" pattern="(\.png|\.jpg|\.webp|\.gif|\.jpeg|\.zip|\.css|\.svg|\.js|\.pdf|\.ogg|\.mp3|\.json)$" ignoreCase="false" negate="true" />
      </conditions>
      <action type="Rewrite" url="routes.php" appendQueryString="true" />
    </rule>
  </rules>
</rewrite>
