<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Rewrite to index.php">
                    <match url="index.php" />
                    <action type="Rewrite" url="/" />
                </rule>
                <rule name="Rewrite for firstPage.php">
                    <match url="firstPage.php" />
                    <action type="Rewrite" url="intro" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
